<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cylinder_inertia" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <inertia
        ixx="${mass * (3*radius*radius + length*length) / 12.0}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (3*radius*radius + length*length) / 12.0}"
        iyz="0.0"
        izz="${mass * radius*radius / 2.0}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="msr_mecanum_wheel" params="name parent xyz rpy">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.04" length="0.035"/>
        </geometry>
        <material name="${name}_mat">
          <color rgba="0.02 0.02 0.02 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.04" length="0.035"/>
        </geometry>
      </collision>

      <xacro:cylinder_inertia mass="0.25" radius="0.04" length="0.035"/>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

</robot>