<?xml version="1.0"?>
<model>
  <name>mobile_sorting_robot</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Jesse</name>
    <email>jessiescrew98@gmail.com</email>
  </author>
  <description>
    Day 1 mobile sorting robot model for Gazebo Sim Jetty.
  </description>
</model>